<h1>Listing sales</h1>

<table>
  <tr>
    <th>Purchase date</th>
    <th>Total amount</th>
    <th>Quantity</th>
    <th>Status</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sales.each do |sale| %>
  <tr>
    <td><%= sale.purchase_date %></td>
    <td><%= sale.total_amount %></td>
    <td><%= sale.quantity %></td>
    <td><%= sale.status %></td>
    <td><%= sale.user_id %></td>
    <td><%= link_to 'Show', sale %></td>
    <td><%= link_to 'Edit', edit_sale_path(sale) %></td>
    <td><%= link_to 'Destroy', sale, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Sale', new_sale_path %>
